# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Live2D_Test.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
